@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h1>Phone Book Application</h1><br />
<h3> Number of Persons Added are 3</h3><br />


<button onClick='redirectOnClick()'> Add person</button>
<script>
    function redirectOnClick() {
        document.location = 'AddPerson';
    }
</script>


