@model WebApplication2.Contact

@{
                /**/

                ViewBag.Title = "AddContact";
}

<h2>AddContact</h2>
@using (Html.BeginForm("AddContact", "Home", FormMethod.Post, new { target = "_blank" }))
{
    @Html.ValidationSummary()
    <p>Contact Number: @Html.TextBoxFor(x => x.ContactNumber) </p>
    <p>Type: @Html.TextBoxFor(x => x.Type)</p>

    <input type="submit" value="ADDED" class="btn btn-block btn-primary" />
}


