@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Phone Book Application</h1>
    <p class="lead">A great Application in which any one can register and can manage his/her contacts</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Easy to use</h2>
        <p>
           This App is very easy to use and you can easily edit, save, update and delete contact. 
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About</h2>
        <p>You can see your contact list details.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>You can easily view your contacts and update, add, delete and view any person in your contact list.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>